.env
media
node_modules
package-lock.json
*.log

# IDE artifacts
*~
\#*\#
*.swp
.project
.idea
*.DS*
._entypo
._entypo-social
.smbdelete*
test-data/*
data/*
.env
*.sublime-project
*.sublime-workspace
